
<iframe src="<%= @video.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<h3><%= @video.name %></h3>
<h4><%= @video.category %></h4>
<p><%= @video.description %></p>

<%= link_to "Back to List", root_path %>
<%= link_to 'Delete', root_path, method: :delete %>
