
<div class="main-container">

  <%# :::::::::: Banner :::::::::::: %>
  <div class="banner-wrapper">
    <video class="banner banner-overlay" playsinline autoplay muted loop>
      <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1652206248/export_web_ALTA_lwvjp5.mp4">
    </video>

    <h1 id="title" class="title">Director & Cinematographer</h1>

    <div class="video-links">
      <div id="openPopupButton">
        <p><i class="fa-solid fa-play"></i>Watch full reel</p>
      </div>
      <a href="https://vimeo.com/user62918325" target="_blank"><i class="fa-solid fa-play"></i>Watch videos on Vimeo</a>
    </div>

      <div id="reel-popup" class="popup">
        <div class="popup-overlay">
          <button id="closePopUpButton" class="popup-close-button"><i class="fa-solid fa-xmark"></i></button>
          <video id="reel-video" playsinline controls>
            <source src="https://res.cloudinary.com/drfxstkte/video/upload/v1654976010/export_para_web_reel_completo_con_musica_jrh5td.mp4">
          </video>
        </div>
      </div>
  </div>


  <%# :::::::::::: Videos Grid ::::::::::::::::: %>

  <div class="cards-container">
    <% @videos.each do |video| %>
      <li><%= video.name %>
          <iframe src="<%= video.link %>" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
          <%= link_to 'show more', video_path(video) %>
          <%= link_to 'update', edit_video_path(video) %>
          <%# <%= link_to "Delete",
              root_path(video),
               method: :delete,
              data: { confirm: "Are you sure?" }
          %>
      </li>
    <% end %>
  </div>


</div>
